// bower:scss
// endbower
// colores
$color1: #555;
$color2: #3646fe;
$color3: #ccc;

body {
	overflow: hidden
}

.grid {
    height: 100%;
    &.hidden {
        display: none;
    }
}

.column {
	height: 110%;
	text-align: center;
	padding-top: 100px; 
    &.profile {
        background-color: $color1;
    }
    &.designer {
        background-color: $color2;
    }
    &.dev {
        background-color: $color3;
    }
    &.full-width {
        width: 100% !important;
        @include transition(width 0.5s ease); 
    }
}