// bower:scss
// endbower
// colores
$color1: #555;
$color2: #3646fe;
$color3: #ccc;
body {
    overflow: hidden
}

section {
    height: 100%;
    float: left;
    text-align: center;
    padding: 10%;
    &.designer {
        background-color: $color2;
    }
    &.dev {
        background-color: $color3;
        position: absolute;
        left: 50%;
        &.full {
            left: 0;
        }
    }
    &.half {
        width: 50%;
    }
    &.full {
        width: 100%;
    }
    .hidden {
        display: none;
    }
}

.animated {
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
